.table-container {
    display: flex;
    justify-content: center;
}

.table-container table {
    margin: 0;
}

.fade {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  
  .fade.visible {
    opacity: 1;
  }
  